.btn-adddiscount {
    background-color: #73262C;
    color: #fff;
    border-radius: 7px;
}
.btn-adddiscount:hover {
    background-color: #A6495B !important;
    color: #fff;
}
.btn-suadiscount {
    background-color: #73262C !important;
    color: #fff !important;
}
.btn-suadiscount:hover{
    background-color: #A6495B !important;
    color: #fff !important;
}
.btn-xoadiscount {
    background-color: #fff !important;
    color: #000 !important;
    border: 2px solid #73262C !important;
}
.btn-xoadiscount:hover {
    background-color: #A6495B !important;
    color: #fff !important;
}
