/* Contact.css */
.google-map-container {
    margin-top: 20px;
  }
  
  .google-map-container .map {
    width: 100%;
    height: 400px;
  }
  .btn-submit-contact:hover{
    background-color: #A6495B !important;
    color: #fff;
  }
  /* Contact.css */
.google-map-container {
  margin-top: 20px;
}

.google-map-container .map {
  width: 100%;
  height: 400px;
}