.carousel-item img {
  height: 500px; 
  max-height: 700px; 
  background-size: cover; 
  width: 100%; 
}

.carousel-caption h3, .carousel-caption p {
  font-size: 1.5rem;
  color: #fff; 
}

.product-card {
  margin-bottom: 2rem; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  overflow: hidden; 
  transition: box-shadow 0.3s ease-in-out; 
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.product-card img {
  width: 100%;
  height: auto;
}

.col-product {
  padding: 0.5rem; 
}

.special-image {
  width: 100%;
  height: auto;
  border-radius: 8px; 
}

.special-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem; 
}

.special-text h2 {
  font-size: 2rem; 
  margin-bottom: 1rem; 
}

.special-text p {
  font-size: 1.2rem; 
}
.my-4 {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

button {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.carousel-item img {
  height: 800px; 
}

.promotion-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.promotion-container .promotion-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promotion-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.promotion-container p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.promotion-container button {
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
}

.promotion-container img {
  max-width: 100%;
  height: auto;
}
.banner_home_1{
  width:100%;
  background-color: #73262C;
  display: flex;
}
.banner_home_1_box2{
  text-align: center;
  width: 50%;
  padding:50px;
  padding-left:0;
}
.banner_home_1_box1{
  text-align: center;
  width:50%;
  padding:50px;
  padding-right:0;
}
.banner_home_1_box2 img{
  width:550px;
  height:100px;
}
.banner_home_1_box2_child{
  background-color: white;
  width:100%;
  height:100%;
  padding-top:50px;
}
.banner_home_1_box2_child > * {
  padding-top: 50px;
} 
.banner_home_1_box2_child h1{
  font-weight: bold;
}
.custom-navbar .navbar .w-100:hover{
  background-color:none !important;
}
.button_details{
  margin-top:40px !important;
  background-color: #73262C !important;
  padding:5px 40px !important;
}
.button_promotion{
  background-color: #73262C !important; 
  border-radius: 5px;
  margin-top:40px;

}

