.C-L ul{
    background-color: aliceblue;
    border-radius: 10px;
     text-align: center;
     margin: auto;
     padding: 15PX;
 }
 .C-L{
     width: 100%;
 }
 .C-L ul li p {
     /* width: 100%; */
     border-bottom: 1px solid #000;
 }
 .C-L ul li p a{
     color: #A6495B;
     text-decoration: none;
 }
 .C-L ul li p:hover {
     background-color: #F1D7B6;
     color: #A6495B;
     border-radius: 5PX;
     transform: scale(1.2);
 }
 .pagination-controls {
    /* margin-top: 30px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-left: -5rem;
 }
.list-unstyled li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
/* .list-unstyled li {
    border-bottom: 1px solid #555;
} */
.list-unstyled li a:hover {
    background-color: #F1D7B6;
    color: #A6495B;
    padding: 10px 20px;
    border-radius: 5px;
}
@media (max-width: 800px) {
    .C-L {
      display: none;
    }
  }
  