/* UserManagement.css */
.hidden-user {
    font-weight: bold;
    color: rgba(128, 128, 128, 0.884); /* Màu chữ xám để dễ phân biệt */
    background-color: #d7f8dc00; /* Màu nền để nổi bật */
  }
  .userManagement{
    width: 90%;
    margin: auto;
  }

  .btn_edit{
    background-color: #73262C !important;
    color:white !important;
  }
  .btn_hiddens{
    background-color: #fff !important;
    color: #73262C !important;
    border: 2px solid #73262C !important;
  }
